.contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 40px;
  padding-left: 340px;
  padding-right: 340px;
  width: 100%;

  @media (max-width: $middle-desktop) {
    padding-left: 145px;
    padding-right: 145px;
  }

  @media (max-width: $max-tablet) {
    margin-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (max-width: $max-mobile) {
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }
}

.contacts__item {
  margin-bottom: 5px;
  white-space: nowrap;

  &:not(:last-child) {
    margin-right: 90px;

    @media (max-width: $max-mobile) {
      margin-right: 0;
      margin-bottom: 22px;
    }
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 22px;

  color: var(--black-05);

  &--email {
    line-height: 22px;
  }
}

.contacts__link svg {
  margin-right: 15px;
  color: var(--aqua);
  fill: var(--transparent);
}
