.header {
  position: relative;
  min-height: 825px;

  letter-spacing: -0.005em;
  color: var(--white);

  // background-color: var(--background);
  background-image: url("../img/banner-bike-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: $resolution) {
    background-image: url("../img/banner-bike-desktop@2x.jpg");
  }

  @media (max-width: $max-tablet) {
    min-height: 690px;

    background-image: none;
  }

  @media (max-width: $max-mobile) {
    min-height: 755px;
  }
}
